# System files
.DS_Store
Thumbs.db
ehthumbs.db

# Python files
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Virtual environment
.venv/
deep_venv/
__pycache__/
*.pyc
.env
*.log
# IDE
.idea/
.cursor/
.vscode/
.trae/

#other
**/.claude/
**/workspace/
**/CLAUDE.md
**/logs/